.header {
  background-color: #e2e2e2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo, .title, .nav-links, .login {
  flex-grow: 1;
  text-align: center;
}

.logo::after {
  content: ' ktack';
}

.login input {
  margin-right: 10px;
}
.button{
  margin-left : 10px;
  padding: 10px;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.button-container {
  float: left;
}

.admin-menu a,
.teacher-menu a {
  display: inline-block;
  background-color: rgb(242, 247, 181);
  padding: 10px 20px;
  margin: 5px;
  margin-left : 25px;
  border: 1px solid #ccc;
  border-radius: 12px; 
  text-decoration: none;
  color: rgb(31, 18, 204);
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }
  .logo, .title, .nav-links, .login {
    text-align: left;
    margin-bottom: 10px;
  }
}